<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="keywords" content="matt collecutt, matt, collecutt, portfolio, developer, web developer, matthew collecutt" />
    <meta name="description" content="Matt Collecutt's Personal website" />
    <meta name="author" content="Matt Collecutt" />
    <meta name="copyright" content="&copy;" />
    <meta name="robot" content="noindex, nofollow" />

    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css" type="text/css">

    <title>Matt Collecutt</title>
</head>
<body>

    <div class="header-bar">
        <a class="header-bar-item" href="/">/home</a>
        <a class="header-bar-item" href="about">/about</a>
        <a class="header-bar-item" href="contact">/contact</a>
        <a class="header-bar-item" target="_blank" href="https://www.linkedin.com/in/matt-collecutt/">/linkedin</a>
        <a class="header-bar-item" target="_blank" href="https://github.com/mattcollie">/github</a>
        <a class="header-bar-item" target="_blank" href="https://www.codewars.com/users/matt%20c">/codewars</a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="click-notifier">Click on me..</div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="static/js/scripts.js" type="text/javascript"></script>

</body>
</html>