@import url('https://fonts.googleapis.com/css?family=Lato');

* { box-sizing: border-box; margin:0; padding:0; }
*:focus { outline: none; }

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: table;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    background: white linear-gradient(to bottom, white, rgb(207, 207, 207)) no-repeat fixed;
}

.content {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: rgb(57, 57, 57);
    position: relative;
}

.icon-tray {
    width: 100%;
    height: 32px;
    margin: 10% auto 0;
    position: relative;
}

.icon-tray > a {
    margin-left: 10px;
    margin-right: 10px
}

a {
    color: inherit;
}


@media (max-width: 575.98px) {
    body { font-size: 4.5vw; }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    body { font-size: 3vw; }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    body { font-size: 2.5vw; }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    body { font-size: 2vw; }
}


@media (min-width: 1200px) {
    body { font-size: 2vw; }
}